/*
  * HOME 画面CSS *
*/

/* テキスト設定 */
.textStyle {
  color: var(--textcolor);
  text-align: left;

  /* サイドバー文字スタイル */
  font-family: var(--font-noto-sans-jp);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
}

/* 月選択カレンダースタイル */
.yearMonth {
  margin-top: 10px;
  font-size: 17px;
}

/* labelスタイル */
.labelStyale {
  display: flex;
  width: 45vw;
  height: 3vh;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  /* 線スタイル */
  border-bottom: 5px solid var(--linecolor);

  /* 文字スタイル */
  font-size: 23px;

  /* font-weight:bold;  */
}

/* 内訳スタイル */
.amountStyle {
  width: 45vw;
  height: 52vh;

  /* justify-content: space-between; */
  border-radius: 15px;
  border: 1px solid #dedede;
  background: #fff;
}

/* 内訳明細スタイル */
.expensesStyle {
  font-size: 18px;
  max-height: 28vh;
  overflow-y: scroll;
  margin-left: 20px;
}
