/*
  * 経費 画面CSS *
*/

/* 経費テーブルスタイル */

.expenseTable {
  overflow: scroll;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* ヘッダー文字スタイル */
.expenseTable th {
  color: var(--textcolor);
  font-family: var(--font-noto-sans-jp);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

/* 内容文字スタイル */
.expenseTable td {
  color: var(--textcolor);
  font-family: var(--font-noto-sans-jp);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  white-space: nowrap;
}

/* ヘッダー固定 */
.expenseTable thead th {
  /* 縦スクロール時に固定する */
  position: sticky;
  top: 0;

  /* tbody内のセルより手前に表示する */
  z-index: 1;
}

/* No.ヘッダー */
.noHeader {
  width: var(--tableNoWidth);
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px 0 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 属性名ヘッダー */
.attributeHeader {
  width: var(--tableAttributeWidth);
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 分類ヘッダー */
.categoryHeader {
  width: var(--tableCategoryWidth);
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 説明ヘッダー */
.descriptionHeader {
  width: var(--tableDescriptionWidth);
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 金額ヘッダー */
.priceHeader {
  width: var(--tablePriceWidth);
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 支払日ヘッダー */
.paymentDateHeader {
  width: var(--tablePaymentDateWidth);
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* 編集ヘッダー */
.editHeader {
  width: var(--tableEditWidth);
  height: 40px;
  flex-shrink: 0;
  border-radius: 0 15px 0 0;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: var(--tableheadercolor);
}

/* No.内容 */
.no {
  width: var(--tableNoWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  background: #fff;
}

/* 属性名内容 */
.attribute {
  width: var(--tableAttributeWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  background: #fff;
}

/* 分類内容 */
.category {
  width: var(--tableCategoryWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  background: #fff;
}

/* 説明内容 */
.description {
  width: var(--tableDescriptionWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  background: #fff;
}

/* 金額内容 */
.price {
  width: var(--tablePriceWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  background: #fff;
}

/* 支払日内容 */
.paymentDate {
  width: var(--tablePaymentDateWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-bottom: 1px solid #dedede;
  background: #fff;
}

/* 編集内容 */
.edit {
  width: var(--tableEditWidth);
  height: 40px;
  flex-shrink: 0;

  /* border-top: 1px solid #DEDEDE; */
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  background: #fff;
}
