:root{
  --backgroundcolor : #E0F2F5;
  --textcolor : #757575;
  --tableheadercolor : #EFEFEF;
  --linecolor :#90E0F1;

  --tableNoWidth : 102px;
  --tableAttributeWidth : 200px;
  --tableCategoryWidth : 200px;
  --tableEditWidth : 150px;
  --tableDescriptionWidth : 200px;
  --tablePriceWidth : 200px;
  --tablePaymentDateWidth : 150px;
}

a {
  text-decoration:none; 
}
a:link {
  color: var(--textcolor);
}
a:visited{
  color: var(--textcolor);
}

a:hover{
  color: var(--textcolor);
}

a:active{
  color: var(--textcolor);
}

button{
  color: var(--textcolor);
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}

select{
  color: var(--textcolor);
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
}

input{
  color: var(--textcolor);
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5px;
  padding-right: 5px;
}

details{
  margin-left: 10px;
  margin-bottom: 10px;
}

summary{
  cursor: pointer;
  /* font-weight:bold; */
  margin-top: 10px;
}
